<div>
    <div>
        <div class="grid">
            <div class="col-3">
                <div class="logo">
                    <a href="">
                        <img src="assets/imgs/logo.png" alt="alianza.png">
                    </a>
                </div>
                <div class="menuBar">
                    <div>
                        <a href="">
                            <i class="pi pi-user clientIcon">&nbsp;Clients</i>
                        </a>
                    </div>
                    <div class="client">
                        <a href="">Clients</a>
                    </div>
                    <div class="client">
                        <a href="">Client look history</a>
                    </div>
                    <div class="client">
                        <a href="">Emergency pin configuration</a>
                    </div>
                    <div class="client">
                        <a href="">Emergency pin history</a>
                    </div>
                    
                </div>
            </div>
            <div class="col">
                <app-client></app-client>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>